</main>
<footer class="fixed-bottom">
    <div class="bg-dark text-white p-4">
        <div class="text-center copyright">
            <p class="mb-0">&copy; <span id="currentYear">2025</span> Optimisation de prix</p>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Mise à jour dynamique de l'année
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>

</html>
